.disable-delete-account-page-container {
  min-height: 100vh;
}
.disable-delete-account-page-view-disable-delete-account-page {
  width: 100%;
  height: 840px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.disable-delete-account-page-moni-crop16 {
  top: 2px;
  left: 13px;
  width: 207px;
  height: 181px;
  position: absolute;
  border-color: transparent;
}
.disable-delete-account-page-text {
  top: 169px;
  left: 432px;
  color: var(--dl-color-default-green);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
  margin-right: 0;
  margin-bottom: 0;
}
.disable-delete-account-page-button-primary-off-off {
  left: 762px;
  width: 206px;
  bottom: 70px;
  display: flex;
  padding: 13px 24px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-green);
}
.disable-delete-account-page-text02 {
  color: rgba(238, 241, 244, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-search {
  top: 42px;
  right: 76px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.disable-delete-account-page-user {
  top: 42px;
  right: 40px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.disable-delete-account-page-frown {
  top: 42px;
  right: 112px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.disable-delete-account-page-logout {
  top: 42px;
  right: 148px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.disable-delete-account-page-button-primary-off-off1 {
  left: 449px;
  width: 173px;
  bottom: 67px;
  display: flex;
  padding: 13px 24px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--dl-color-default-green);
}
.disable-delete-account-page-text04 {
  color: rgba(238, 241, 244, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-radiobutton-state2 {
  top: 355px;
  left: 863px;
  width: 82px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 3px;
}
.disable-delete-account-page-frame1 {
  left: -17px;
  width: 20px;
  bottom: 0px;
  height: 20px;
  position: absolute;
}
.disable-delete-account-page-radiobutton-state21 {
  top: 355px;
  left: 466px;
  width: 83px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 3px;
}
.disable-delete-account-page-frame11 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.disable-delete-account-page-inputfield-filled-on {
  top: 446px;
  left: 174px;
  width: 1047px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.disable-delete-account-page-text06 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 4px;
  text-decoration: none;
}
.disable-delete-account-page-text-input {
  width: 1047px;
  height: 48px;
  display: flex;
  padding: 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-default-white);
}
.disable-delete-account-page-text08 {
  top: 13px;
  left: 12px;
  color: var(--dl-color-default-black);
  width: 1023px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-eye {
  top: 12px;
  left: 1011px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.disable-delete-account-page-text10 {
  top: 268px;
  left: 308px;
  color: rgba(0, 0, 0, 1);
  width: 855px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-text12 {
  top: 356px;
  left: 501px;
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-text14 {
  top: 361px;
  left: 882px;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.disable-delete-account-page-text15 {
  top: 579px;
  left: 320px;
  color: var(--dl-color-default-black);
  width: 782px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 0;
}

.flexBox {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.child {
  flex: 1 !important;
}
