.workplace-details-page-container {
  min-height: 100vh;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 5%;
  margin-top: 20%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.workplace-details-page-view1-workplace-details-page {
  width: 100%;
  height: 840px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.workplace-details-page-imageplaceholder-type5 {
  left: 161px;
  width: 1078px;
  bottom: 37px;
  height: 573px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: var(--dl-color-default-secondary);
}
.workplace-details-page-line12 {
  top: 0px;
  left: 0px;
  width: 1221px;
  height: 0px;
  position: absolute;
}
.workplace-details-page-line13 {
  top: 573px;
  left: 1.7053025658242404e-13px;
  width: 1221px;
  height: 0px;
  position: absolute;
}
.workplace-details-page-frown {
  top: 42px;
  right: 112px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.workplace-details-page-search {
  top: 42px;
  right: 76px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.workplace-details-page-logout {
  top: 42px;
  right: 148px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.workplace-details-page-user {
  top: 42px;
  right: 40px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.workplace-details-page-text {
  top: 120px;
  left: 556px;
  color: rgba(148, 178, 2, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
  margin-right: 0;
  margin-bottom: 0;
}
.workplace-details-page-moni-crop20 {
  top: 2px;
  left: 13px;
  width: 207px;
  height: 181px;
  position: absolute;
  border-color: transparent;
}

.flexBox {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.child {
  flex: 1 !important;
}
